In [1]:
import pandas as pd
import glob

In [2]:
clean_data= pd.concat([pd.read_csv(f) for f in glob.glob('raw_csv/*.csv')], ignore_index = True)

In [3]:
clean_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [16]:
#Replace 0 and 1 with male and female for gender column
clean_data["gender"]=clean_data["gender"].replace(1,"male")
clean_data["gender"]=clean_data["gender"].replace(2,"female")
clean_data["gender"]=clean_data["gender"].replace(0,"na")

#Calculate age from birth year
clean_data["age"]=2019-clean_data["birth year"]

#Convert trip duration to minutes
clean_data['trip duration min']=clean_data["tripduration"]/60

clean_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,tripduration(min),tripdurationmin,trip duration min
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,male,56,2.366667,2.366667,2.366667
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,female,27,3.716667,3.716667,3.716667
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,male,59,1.766667,1.766667,1.766667
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,male,43,6.166667,6.166667,6.166667
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,male,39,5.250000,5.250000,5.250000

In [17]:
clean_data.count()

tripduration               2270378
starttime                  2270378
stoptime                   2270378
start station id           2270378
start station name         2270378
start station latitude     2270378
start station longitude    2270378
end station id             2270378
end station name           2270378
end station latitude       2270378
end station longitude      2270378
bikeid                     2270378
usertype                   2270378
birth year                 2270378
gender                     2270378
age                        2270378
tripduration(min)          2270378
tripdurationmin            2270378
trip duration min          2270378
dtype: int64

In [18]:
#Export to csv
clean_data.to_csv("clean_data_2018to2019.csv")